/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-08-27, 22:13:42
    Author     : BLB
*/

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    position: relative;

}

.wrap:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("http://pp43704.wsbpoz.solidhost.pl/ReGaSto/dent2.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

div.fullcalendar, .grid-view, .table {
    background-color: white;
}

.footer {
    z-index: 0 !important;
    position: relative;
}

        .navbar-brand {
            padding: 3px;
        }
        .navbar-brand img {
            height: 100%;
        }


